* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  background-clip: padding-box;
}

#black {
    background-color: black;
    z-index: 10000;
    position: fixed;
    height: 1920px;
    display: none;
    width: 100%;
}

body {
    border: 0;
    background-color: black;
}
.menu_container {
    position: absolute;
    top: 200px;
    right: 200px;
}

.container {
    margin: auto;
    width: 1300px;
    background-color: yellow;
    position: relative;
    height: 740px;
}