<div>

    
    <img class="bg" src="img/cr_bg.png" />

    <img class="obj" src="{{imgsrc701}}" ng-init="imgsrc701='img/cr_clock_wrong.png'" ng-mouseover="imgsrc701='img/cr_clock_wrong_hover.png'" ng-mouseout="imgsrc701='img/cr_clock_wrong.png'" ng-click="zoom_clock()" style="z-index: 1001; top: 211px; left: 605px;" ng-hide="completed_clock()" />

    <img id="cd_door" class="obj" src="{{imgsrc702}}" ng-init="imgsrc702='img/cr_door.png'" ng-mouseout="imgsrc702='img/cr_door.png'" style="z-index: 1000; top: 172px; left: 491px; cursor: default;" ng-click="clock_open_door()" />





        <img class="obj" src="img/cr_zoom.png" style="z-index: 2001; top: 0; left: 0;" ng-show="clock.zoomed" />

    <img class="obj cr_circle" src="img/cr_circle.png" style="z-index: 2005; left: 640px; top: 130px;" ng-click="clock_put('n')" ng-show="clock.zoomed" />
    <img class="obj cr_circle" src="img/cr_circle.png" style="z-index: 2005; left: 490px; top: 280px;" ng-click="clock_put('w')" ng-show="clock.zoomed" />
    <img class="obj cr_circle" src="img/cr_circle.png" style="z-index: 2005; left: 640px; top: 440px;" ng-click="clock_put('s')" ng-show="clock.zoomed" />
    <img class="obj cr_circle" src="img/cr_circle.png" style="z-index: 2005; left: 790px; top: 280px;" ng-click="clock_put('e')" ng-show="clock.zoomed" />

    
    <img class="obj cr_circle" src="img/cr_circle.png" style="z-index: 2005; left: 520px; top: 390px;" ng-click="clock_put('sw')" ng-show="clock.zoomed" />
    <img class="obj cr_circle" src="img/cr_circle.png" style="z-index: 2005; left: 755px; top: 170px;" ng-click="clock_put('ne')" ng-show="clock.zoomed" />

    <img class="obj clock_hand" src="img/cr_h_n.png" style="z-index: 2010" ng-show="clock.hour=='n' && clock.zoomed" />
    <img class="obj clock_hand" src="img/cr_h_e.png" style="z-index: 2010" ng-show="clock.hour=='e' && clock.zoomed" />
    <img class="obj clock_hand" src="img/cr_h_s.png" style="z-index: 2010" ng-show="clock.hour=='s' && clock.zoomed" />
    <img class="obj clock_hand" src="img/cr_h_w.png" style="z-index: 2010" ng-show="clock.hour=='w' && clock.zoomed" />
    <img class="obj clock_hand" src="img/cr_h_sw.png" style="z-index: 2010" ng-show="clock.hour=='sw' && clock.zoomed"/>
    <img class="obj clock_hand" src="img/cr_h_ne.png" style="z-index: 2010" ng-show="clock.hour=='ne' && clock.zoomed"/>


    <img class="obj clock_hand" src="img/cr_m_n.png" style="z-index: 2010" ng-show="clock.minute=='n' && clock.zoomed" />
    <img class="obj clock_hand" src="img/cr_m_e.png" style="z-index: 2010" ng-show="clock.minute=='e' && clock.zoomed" />
    <img class="obj clock_hand" src="img/cr_m_s.png" style="z-index: 2010" ng-show="clock.minute=='s' && clock.zoomed" />
    <img class="obj clock_hand" src="img/cr_m_w.png" style="z-index: 2010" ng-show="clock.minute=='w' && clock.zoomed" />
    <img class="obj clock_hand" src="img/cr_m_ne.png" style="z-index: 2010" ng-show="clock.minute=='ne' && clock.zoomed" />
    <img class="obj clock_hand" src="img/cr_m_sw.png" style="z-index: 2010" ng-show="clock.minute=='sw' && clock.zoomed" />

</div>
