<div>

    <!--TODO - This scene needs as background the outdoors scene at night-->

    <img id="lion_btm_white" class="obj" src="{{imgsrc5}}" ng-init="imgsrc5='img/lion_btm_blank.png'" ng-mouseover="imgsrc5='img/lion_btm_white.png'" ng-mouseout="imgsrc5='img/lion_btm_blank.png'" ng-mouseover="bookshelf_open_tower_voice()" style="z-index: 1200" ng-click="lion_click()" />

    <img class="bg" src="img/lion_bg.png" />

    <p>Narr: {{narration.lion}}</p>
    <!--subtitles-->

    <p ng-click="lion_back()">Back to outside</p>

</div>
