<div>

    <img class="bg" src="img/queenstower.png" />
    <!--TODO - This scene needs as background the outdoors scene at night-->

    <!--TODO replace this with the clickable door-->
    <!-- <p ng-click="outside_door_click()">Door</p> -->

    <img id="lion_white" class="obj" src="{{imgsrc3}}" ng-init="imgsrc3='img/lion_blank.png'" ng-mouseover="imgsrc3='img/lion_white.png'" ng-mouseout="imgsrc3='img/lion_blank.png'" style="z-index: 1200" ng-click="outside_lion_click()" />

    <img id="door_white" class="obj" src="{{imgsrc4}}" ng-init="imgsrc4='img/door_blank.png'" ng-mouseover="imgsrc4='img/door_white.png'" ng-mouseout="imgsrc4='img/door_blank.png'" style="z-index: 1200" ng-click="outside_door_click()" />
    
    <!--subtitles-->
    <p>{{narration.outside_door}}</p>



</div>
